@model IEnumerable<FlightManager.Areas.Identity.Data.Reservations>

@{
    ViewData["Title"] = "Администрация на резервации";
}

<h1>Администрация на резервации</h1>

<p>
   <a asp-action="Create"><input type="button" value="Създаване на резервация" class="btn btn-info"/></a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FathersName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FamilyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EGN)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeOfTicket)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FathersName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FamilyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EGN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelephoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeOfTicket)
            </td>
            <td>
                <br /><a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-success" style="margin:5px;">Редактиране</a> 
                <br /><a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning" style="margin:5px;">Подробности</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger" style="margin:5px;">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>
